
h1,h2,h3,h4,h5,h6,p {
    color: #ececf1;
}

body {
    background-color: #343541; 
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* for cards buttons and etc */
.card {
  background-color: #444654;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); */
  /* margin-bottom: 1rem; */
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #0e8c6c;
}

/* for elements in the section that begin with the class container */
section[class^="container"] {
    padding: 4rem 2rem;
}

/* is for  the first section */
section:not(:first-of-type) {
    text-align: center;
}

/* for every second section sets this color */
section:nth-child(2n) {
    /* background-color: #5a5c6b; */
    background-color: #2e3b61;
}

/* ---------- Navbar ---------- */
.navbar {
    background-color: #343541; 
}

.navbar-nav .nav-link {
    /* color: #000000; */
    color: #ececf1;
    /* светъл текст */
    font-size: 1.1rem;
    transition: all 0.5s;
}

/* ---------- screen size ---------- */

@media screen and (max-width:1024px) {
    .navbar-nav .nav-item {
        padding: 0 1rem;
    }

    nav [class^="container"] {
        padding: 0 4rem;
    }
}

@media screen and (max-width:1024px) {
    .navbar-nav .nav-item {
        padding: 0 1rem;
    }
}

@media screen and (max-width:576px) {
    section.hero {
        text-align: center;
    }

    section.hero img {
        width: 70%;
    }



}
/* ---------- screen size ---------- */


/* ---------- Navbar ---------- */

/* ---------- HERO ---------- */

/* section.hero .container div{
    display: flex;
    justify-content: center;
    align-items: center;
} */

section.hero {
    padding-top: 72px;
    padding-bottom: 10px;
    height: auto;
}

section.hero img {
    border-radius: 200px;
    width: 300px;
    height: auto;
}
/* ---------- HERO ---------- */

/* ---------- Services ---------- */

section .card {
    max-width: 22rem;
    margin-inline: auto;
}

/* ---------- Services ---------- */

/* ---------- Projects ---------- */

section.projects .card {
    max-width: 17rem;
    text-align: left;
}

section.projects .card img {
    max-width: 70%;
    margin: 0rem auto;
}

section.contact .container {
    display: flex;
    /* центрира хоризонтално */
    justify-content: center; 
    /* центрира вертикално */
    align-items: center;
    /* разстояние между елементите */
    gap: 20px;
    height: 50px;
}
/* ---------- Projects ---------- */

/* ---------- About ---------- */

@media screen and (max-width:1024px) {
    section.about .container {
        width: 60;
    }
}

section.about .container img {
    border-radius: 200px;
    width: 300px;
    height: auto;
}

section.about .container{
    display: flex;
}

section.about .container h2,p{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- About ---------- */