
h1,h2,h3,h4,h5,h6,p {
    color: #ececf1;
}

body {
    background-color: #343541; 
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* for cards buttons and etc */
.card {
  background-color: #444654;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}

/* button like chat gpt */

button {
  background-color: #10a37f;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0e8c6c;
}

/* for elements in the section that begin with the class container */
section[class^="container"] {
    padding: 4rem 2rem;
}

@media screen and (max-width:1024px) {
    .navbar-nav .nav-item {
        padding: 0 1rem;
    }

    nav [class^="container"] {
        padding: 0 4rem;
    }
}

/* is for  the first section */
section:not(:first-of-type) {
    text-align: center;
}


/* for every second section sets this color */
section:nth-child(2n) {
    background-color: #5a5c6b;
}

/* Navbar */
.navbar {
    background-color: #343541; 
}

.navbar-nav .nav-link {
    /* color: #000000; */
    color: #ececf1;
    /* светъл текст */
    font-size: 1.1rem;
    transition: all 0.5s;
}


@media screen and (max-width:1024px) {
    .navbar-nav .nav-item {
        padding: 0 1rem;
    }
}



@media screen and (max-width:576px) {
    section.hero {
        text-align: center;
    }

    section.hero img {
        width: 70%;
    }

}

/* HERO */

section.hero {
    padding-top: 72px;
    height: 500px;
}

section.hero img {
    /* border-radius: 100px; */
    width: 400px;
    height: auto;
}


/* Services */

/* section .card,
.btn-outline-dark {
    border: 2px solid #000000;
    box-shadow: 4px 4px #000000;
}

.btn-outline-dark:hover {
    box-shadow: 4px 4px #000000;
} */

section .card {
    /* border: 2px solid #000000;
    box-shadow: 4px 4px #000000; */
    max-width: 22rem;
    margin-inline: auto;
}

/* About */

@media screen and (max-width:1024px) {
    section.about .container {
        width: 60;
    }
}

/* Projects */

section.projects .card {
    max-width: 17rem;
    text-align: left;
}

section.projects .card img {
    max-width: 70%;
    margin: 0rem auto;
}

section.contact .container {
    display: flex;
    /* центрира хоризонтално */
    justify-content: center; 
    /* центрира вертикално */
    align-items: center;
    /* разстояние между елементите */
    gap: 20px;
    height: 50px;
}